.info{
    display:flex;
    text-align: left;
    justify-content: space-between;
    align-items: stretch;
   margin: 3em;
  
}
.info__card{
    align-items: center;
   padding: 1em;
   width: 20%;
   

   
}
.info__descricao{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 600;
    color: var(--vinho);
    
    
}
.info__titulo{
    margin: 1em 0;
    font-size: 18px;
    font-weight: 500;
}
.info__texto{
  font-weight: 400;
  color: var(--cinza);
  line-height: 1.5em;
  margin: 0 1.5em 0 0;
  padding: 0 2em 0 0;
}